/* start Header */
@font-face {
    font-family: HacenMaghrebBd;
    src: url(../font/HacenMaghrebBdRegular.ttf);
  }
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: HacenMaghrebBd;
    padding: 0;
    margin: 0;
  }

  body {
    overflow-x: hidden;
  }

:root {
    --main-color : #0b6f32 ; 
    --secend-color : #231f20 ; 
    --gray-color : #a3a3a3 ;
    --red-color : #bf202f ;
}

ul {
    list-style: none;
    padding: 0;
}
.gray-color {
    color: var(--gray-color);
}

.red-color {
    color: var(--red-color);
}

  a {
    text-decoration: none;
  }
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}


.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 114px;
    height: 36px;
    /* margin: 39.8px 0 41.7px 262px; */
    padding: 5px 12px 7px 14.3px;
    border-radius: 4px;
    border: solid 1px #a3a3a3;
}
.header {
    /* min-height: 100vh; */
    /* width: 100vw; */
}


.swiper {
    height: 100vh;
    top: -84px;
}


.swiper .swiper-slide .content{
   right: 8%;
   max-width: 44%;
   top: 20%;
   z-index: 3;
}

.swiper .swiper-slide img {
    object-fit: cover;
}

.swiper .swiper-slide .content h1{
    font-size: 50px;
}
.swiper .swiper-slide .content p{
    font-size: 18px;
    color: var(--gray-color);
}


 .swiper-pagination-vertical.swiper-pagination-bullets{
    left: 8.3% !important;
    right: unset;
    /* position: relative; */
}

@media (max-width : 767px) {
     .swiper-pagination-vertical.swiper-pagination-bullets{
        top: 77%;
    }

    .swiper .swiper-slide .content h1{
        font-size: 29px;
    }
    .swiper .swiper-slide .content p{
        font-size: 14px;
    }

    .swiper .swiper-slide .content{
        width: 100%;
        max-width: 77%;
        padding: 0px !important;
        right: 17.5%;
    }
}

 .swiper-pagination-vertical.swiper-pagination-bullets::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 60.6px;
    background-color: white;
    top: -210%;

}

@media (max-width : 767px) {
     .swiper-pagination-vertical.swiper-pagination-bullets::after {
        top: -170%;
        height: 40px;
    }
}

 .swiper-pagination-vertical.swiper-pagination-bullets::before {
    content: "2";
    color: white;
    font-size: 35px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -100%;
}
 .swiper-pagination-bullet{
   background-color: white;
   opacity: 1;
}

 .swiper-pagination-bullet-active{
    background-color: green;
}

 .swiper img{
    object-fit: none;
}
 nav {
    z-index: 3;
    /* height: 108px; */
    
}
 nav .logo {
width: 39.5%;
}


header nav .login-leng {
margin-left: 3%;
margin-top: 1rem;
display: flex;
flex-direction: column;
}

@media (max-width : 767px) {
    header nav  {
       flex-direction: column;
       justify-content: flex-start !important;
    }

    header nav .login-leng {
        flex-direction: row-reverse;
    }
    header nav .logo {
        width: 100%;
    }
}
header nav .login-leng .reg a {
    display: block;
    margin-right: 26px;
}

header nav .login-leng .leng {
    width: 56px;
    height: 23px;
    margin-right: auto;
    padding: 0 6px 0 0;
    border-radius: 4px;
    border: solid 1px #fff;
    margin-bottom: 20.6px;
}
header nav .login-leng .leng a{
    display: block;
    /* w */
}


header nav .login-leng .leng a:first-of-type {
    width: 18px;
    height: 19px;
    margin: 2px 0 2px 3.3px;
    font-family: HacenMaghrebBd;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
    /* border: ; */
}

header nav .login-leng .leng a:last-of-type {
    width: 28.7px;
    height: 24px;
    margin: 0 3.3px 0 0;
    padding: 2px 5.7px 2px 6px;
    border: solid 1px var(--main-color);
    background-color: var(--main-color);
    transform: translateY(-1px)
}

header .show-menue {
    width: 70px;
    /* height: 100%; */
    z-index: 5;
    cursor: pointer;
    background-color: rgb(35 31 32 / 15%);

}

@media (max-width : 767px) {
    header .show-menue {
        width: 50px;
    }
}

header  .show-menue span {
    margin: 6.5px 0 0;
    color: var(--secend-color);
    
}

header .menue {
    width: 70px;
    height: calc(100vh - 84px);
    background-color: rgb(35 31 32 / 30%);
    z-index: 4;
    top: 84px;
   
}


header .menue a {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}
header .menue a:first-of-type {
    margin-top: 12.8vh;
}
header .menue a:nth-of-type(2) {
    margin-top: 21.5vh;
}

header .menue a:not(:first-of-type , :nth-of-type(2)) {
    margin-top: 2.7vh;
}
header .menue a:last-of-type {
    margin-top: 9.2vh;
}

header .header-title ,  header .text-header {
    z-index: 7;
    right: 13vw;
}
header .header-title  {
    font-size: 50px;
    max-width: 35.5vw;
    margin: 95.4px 0 24.1px 540px;
    top: 5.3vh;

}

header .text-header  {
    font-size: 18px;
    color: var(--gray-color);
    margin: 40.1px 0 7.5px 621px;
    max-width: 29vw;
    top: 37.3vh;
}


header .showmore {
    z-index: 7;
    right: 13vw;
    top: 5.3vh;
    position: relative;
    color: white;
    background-color: transparent;
}

.swiper-slide .colors {
    z-index: 4;
    right: 8%;
    /* bottom: 0; */
    /* position: relative; */
    top:85%;
    color: white;

}

.swiper-slide .colors {
    border-color: var(--gray-color);
}

@media (max-width : 767px) {
    .swiper-slide .colors {
        flex-direction: column;
        top: 48%;
        right: 17.5%;

    }
}



.swiper-slide .all-colors {
    width: 70%;
}




@media (max-width : 767px) {
    header .header-title {
        font-size: 29px;
        max-width: 75vw;
        width: 100vw;
        margin: 0;
        top: 50%;
        transform: translate(-10% , -50%);
        left: 50%;
    
    }

    header nav {
        /* align-items: c; */
    }

    .header .text-header {
        font-size: 14px;
        max-width: 77vw;
        width: 100vw;
        margin: 0;
        top: 62%;
        transform: translate(-10% , -50%);
        left: 50%;
    }

    header nav .login-leng {
        align-items: center;

    }
    header nav .login-leng .leng  {
        margin: 1rem;
    }
    header .colors  {
        top: 64vh;
        flex-direction: column;
    }

    .swiper-slide .all-colors svg{
        width: 400px;
    }
}

.mySwiper .swiper-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(35 31 32 / 70%);
    z-index: 2;
}

@media (max-width : 767px) {
    .header .menue  {
        width: 50px;
    }
}
/* End Header */


/* start footer */
footer {
    background-color: var(--main-color);
}

@media (max-width : 767px) {
    footer .footer-main-title {
        font-size: 16px;
    }
}
.footer-title-sec {
    position: relative;
    font-size: 18px;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    /* text-align: center; */
    width: fit-content;
    /* margin-right: auto; */
}

.footer-title-sec.jobs {
    margin-top: 50%;
}

footer ul li a{
    font-size: 14px;
    color: var(--gray-color);
    line-height: 14px;
}
footer ul li a:hover {
    color: var(--gray-color);
}

footer .middle .row::after ,footer .middle .row::before{
    content: "";
    position: absolute;
    background-color: #0d9642;
    height: 76%;
    width: 1px;
    top: 6%;
}

@media (max-width : 767px) {
    footer .middle .row::after ,footer .middle .row::before{
        display: none;
    } 

   footer .logo-foote {
    width: fit-content;
    margin: auto;
   } 
}
footer .middle .row::after {
    right: -4%;
}
footer .middle .row::before {
    left: 4%;
}



.footer-title-sec::after {
    content: "";
    position: absolute;
    right: 0;
    width: 30px;
    height: 1px;
    background-color: var(--red-color);
    bottom: 0;
}
/* End footer */

/* start offcanvasExample */
#offcanvasExample {
    width: calc(100% - 85px);
}
#offcanvasExample2 {
    width: calc(100% - 65px);
    background-color: rgb(35 31 32 / 84%);
}



#offcanvasExample .offcanvas-body {
    background-color: var(--secend-color);
}
 .offcanvas-body .footer-title-sec , 
#offcanvasExample2 .offcanvas-body .footer-title-sec{
    font-size: 20px;
    color: white;
    margin-bottom: 60px;
}


 .offcanvas-body .row .col-2{
    /* height: 100%; */
    border-left:   0.2px solid rgb(82 82 82 / 19%)   ;
    border-right:   0.2px solid rgb(82 82 82 / 19%)   ;
    padding-top: 2rem;
}
 .offcanvas-body .row .col-2:first-of-type{
    /* height: 100%; */
    border-right: none  ;
}
 .offcanvas-body .row .col-2:last-of-type{
    /* height: 100%; */
    border-left:   none ; 

}


 .offcanvas-body .row .col-2:nth-of-type(2) {
    background-color: black;
}

 .offcanvas-body ul li a{
    color: white;
    display: block;
    margin-bottom: 0.5rem;
}

 details {
    color: white;
    /* width: 85%; */
    position: relative;

}


 summary {
    position: relative;
}

 summary::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 8px;
    right: 0;
    background-color: var(--red-color);
}

#offcanvasExample2 summary::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 8px;
    right: 0;
    background-color: var(--red-color);
}

details summary::marker {
    color: var(--red-color);
}
details[open] summary::marker {
    color: white;
}
#offcanvasExample2 details summary::marker {
    color: #f5f5f5
    ;
}

#offcanvasExample2 summary {
    width:40%;
}
#offcanvasExample2 details[open] summary::marker {
    color: var(--red-color);
}


#offcanvasExample2 details[open] summary::after  {
    width: 100%;
}


 summary.none::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: 8px;
    right: 0;
    background-color: var(--red-color);
    display: none;
}
 details p{
    display: inline-flex;
    width: 84%;
    white-space: nowrap;
}

 details p a{ 
    color: white;
}

/* #offcanvasExample .accordion * {
    border: none !important;
    outline: none !important;
}
#offcanvasExample .accordion-item:first-of-type .accordion-button{
    background-color: var(--secend-color);
    color: white;
    padding-right: 2px;
    padding-left: 2px;
    border: none;
    outline: none;
    box-shadow: none;
}
#offcanvasExample .accordion-item .accordion-body{
    background-color: var(--secend-color);
    color: white;
    padding-right: 2px;
    padding-left: 2px;
    border: none;
    outline: none;
    box-shadow: none;
} */
/* End offcanvasExample */
