@charset "UTF-8";
:root {
  --black-color: #413f40;
  --grean-color: #0D9642;
  --red-color: #bf202f;
  --grey-color: #f5f5f5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: MaghrebRegular;
  src: url("../font/Hacen Maghreb Bd Regular.ttf");
}
body {
  font-family: HacenMaghrebBd-Regular !important;
}

.main-nav {
  padding: 0.5rem;
}
@media (max-width: 767px) {
  .main-nav {
    padding: 0px;
  }
}
.main-nav .content .left .content {
  padding: 5px 2.5rem;
  border-bottom-left-radius: 70px;
  background-color: white;
}
@media (max-width: 767px) {
  .main-nav .content .left .content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-right: 0px;
    padding: 1.5rem;
  }
  .main-nav .content .left .content img {
    width: 40px;
  }
}
.main-nav .content .left .content p {
  font-weight: bold;
  color: var(--grean-color);
  font-size: 14px;
}
@media (max-width: 767px) {
  .main-nav .content .left .content p {
    font-size: xx-small;
  }
}
.main-nav .content .right {
  width: 12%;
}
@media (max-width: 767px) {
  .main-nav .content .right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: inherit;
  }
}
.main-nav .content .right a {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .main-nav .content .right a {
    font-size: 8px;
    font-weight: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav .content .right a span {
  color: var(--grean-color);
}

.form-par {
  padding: 2rem;
  padding-right: 0px;
}
@media (max-width: 767px) {
  .form-par {
    padding: 0px;
  }
}
.form-par .content {
  background-color: var(--grey-color);
  padding: 15px;
  padding-right: 0px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .form-par .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .form-par .content .text p:nth-of-type(1) {
    display: inline;
  }
  .form-par .content .text p:nth-of-type(2) {
    display: inline;
  }
}
.form-par .content .left {
  width: 30%;
  padding: 2.5rem;
  background: url(../imges/logo.jfif) no-repeat bottom bottom cover;
  border-top-right-radius: 93px;
  background-color: var(--black-color);
  transform: translate(30px, -50px);
  -webkit-transform: translate(30px, -50px);
  -moz-transform: translate(30px, -50px);
  -ms-transform: translate(30px, -50px);
  -o-transform: translate(30px, -50px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .form-par .content .left {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    width: 100%;
    border-top-right-radius: 0px;
  }
}
@media (max-width: 991px) {
  .form-par .content .left {
    padding: 0rem;
  }
}
@media (max-width: 767px) {
  .form-par .content .left .parson-data {
    padding: 20px 20px;
    background-color: #4d4a4b;
  }
}
.form-par .content .left .parson-data .edit-pic {
  margin-left: 1rem;
}
.form-par .content .left .parson-data .edit-pic .change-pic {
  right: -6px;
  background-color: var(--red-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  top: 59%;
  cursor: pointer;
  font-size: small;
  opacity: 0;
  cursor: pointer;
}
.form-par .content .left .parson-data .edit-pic span:nth-of-type(1) {
  right: -6px;
  background-color: var(--red-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  top: 59%;
  cursor: pointer;
  font-size: small;
}
.form-par .content .left .parson-data .edit-pic span:nth-of-type(2) {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1rem;
  border: 1px solid white;
  font-size: xxx-large;
  color: white;
}
.form-par .content .left .parson-data .text p:nth-of-type(2) {
  color: var(--grean-color);
  font-size: 18px;
}
@media (max-width: 767px) {
  .form-par .content .left .parson-data .text p:nth-of-type(2) {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .form-par .content .left .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 2rem;
  }
}
.form-par .content .left .inputs .input {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .form-par .content .left .inputs .input {
    width: calc(50% - 30px);
  }
}
.form-par .content .left .inputs .input.active .data {
  border-bottom: var(--grean-color) 2px solid;
}
.form-par .content .left .inputs .input.active .data span {
  color: white;
}
.form-par .content .left .inputs .input .data {
  border-bottom: #696969 2px solid;
  padding-bottom: 5px;
  width: 90%;
}
.form-par .content .left .inputs .input .data span {
  color: #696969;
}
.form-par .content .left .inputs .input .data span:first-of-type {
  margin-left: 0.5rem;
  display: block;
  font-size: 14px;
}
.form-par .content .left .inputs .input .angle {
  color: var(--grean-color);
}
.form-par .content .left .inputs .input .angle span {
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}
@media (max-width: 767px) {
  .form-par .content .left .inputs .input .angle span {
    display: none;
  }
}
.form-par .content .right {
  width: 70%;
  background-color: var(--grey-color);
}
@media (max-width: 767px) {
  .form-par .content .right {
    width: 100%;
    padding: 1rem;
  }
}
.form-par .content .right ul li {
  width: 50%;
  padding-bottom: 0.5rem;
  border-bottom: 3px #a3a3a3 solid;
  font-size: 18px;
  color: #a3a3a3;
  cursor: pointer;
}
@media (max-width: 767px) {
  .form-par .content .right ul li {
    font-size: 14px;
  }
}
.form-par .content .right ul li.active {
  border-bottom: 3px var(--grean-color) solid;
  color: var(--grean-color);
  cursor: auto;
}
@media (max-width: 990px) {
  .form-par .content .right .content .form-part .input {
    width: 100%;
  }
}
.form-par .content .right .content .form-part .input input, .form-par .content .right .content .form-part .input select {
  border-radius: 4px;
  background-color: transparent;
  border: #A3A3A3 0.5px solid;
  outline: none;
  text-align: start !important;
  font-size: 14px !important;
  width: 100%;
  height: 30px;
  text-transform: capitalize;
  padding-right: 50px;
}
.form-par .content .right .content .form-part .input input::-webkit-input-placeholder, .form-par .content .right .content .form-part .input select::-webkit-input-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .content .right .content .form-part .input input::-moz-placeholder, .form-par .content .right .content .form-part .input select::-moz-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .content .right .content .form-part .input input:-ms-input-placeholder, .form-par .content .right .content .form-part .input select:-ms-input-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .content .right .content .form-part .input input::-ms-input-placeholder, .form-par .content .right .content .form-part .input select::-ms-input-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .content .right .content .form-part .input input::placeholder, .form-par .content .right .content .form-part .input select::placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .form-par .content .right .content .form-part .input input, .form-par .content .right .content .form-part .input select {
    width: 100%;
  }
}
.form-par .content .right .content .form-part .input .enter {
  position: relative;
}
.form-par .content .right .content .form-part .input .enter .icon-input {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--red-color);
  width: 40px;
  height: 100%;
}
.form-par .content .right .content .par-input {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(33.3333333333% - 20px);
}
@media (max-width: 991px) {
  .form-par .content .right .content .par-input {
    width: calc(50% - 20px);
  }
}
@media (max-width: 767px) {
  .form-par .content .right .content .par-input {
    width: 100%;
  }
  .form-par .content .right .content .par-input.par-input-mobile {
    width: 48%;
  }
}
.form-par .content .right .middle .main-title, .form-par .content .right .bootom .main-title {
  color: var(--grean-color);
}
.form-par .content .right .bootom .file {
  border: 0.5px solid #A3A3A3;
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.form-par .content .right .bootom .name span {
  font-size: 12px;
  color: #696969 !important;
}
.form-par .content .right .bootom .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-par .content .right .bootom .icons .icon-action {
  display: block;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.form-par .content .right .bootom .icons .icon-action:nth-of-type(1) {
  background-color: var(--red-color);
}
.form-par .content .right .bootom .icons .icon-action:nth-of-type(2) {
  background-color: var(--grean-color);
}
@media (max-width: 767px) {
  .form-par .exit {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.form-par .fomr2 {
  margin-top: -60px;
}
@media (max-width: 767px) {
  .form-par .fomr2 {
    margin-top: -5px;
  }
}
.form-par .fomr2 .main-title {
  color: var(--grean-color);
}
.form-par .fomr2 .enter {
  position: relative;
}
.form-par .fomr2 .enter .icon-input {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--red-color);
  width: 40px;
  height: 100%;
}
.form-par .fomr2 input {
  border-radius: 4px;
  background-color: transparent;
  border: #A3A3A3 0.5px solid;
  outline: none;
  width: 100%;
  padding-right: 50px;
  height: 30px;
}
.form-par .fomr2 input::-webkit-input-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .fomr2 input::-moz-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .fomr2 input:-ms-input-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .fomr2 input::-ms-input-placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
.form-par .fomr2 input::placeholder {
  font-size: 14px;
  text-align: start;
  color: #231F20;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .form-par .fomr2 input {
    width: 100%;
  }
}
.form-par button:not(.modil) {
  margin-top: 3rem;
  background-color: #696969;
  outline: none;
  border: none;
  color: white;
  padding: 0.5rem 6rem;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.form-par .input-manue {
  cursor: pointer;
  color: #696969;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .form-par .input-manue {
    font-size: 14px !important;
    white-space: pre;
  }
}
.form-par .select-code {
  width: 100% !important;
  padding: 0.3rem 0px !important;
  text-align: start !important;
}
@media (max-width: 767px) {
  .form-par .select-code {
    width: 100% !important;
  }
}
.form-par .top-left {
  font-size: 16px !important;
  margin-bottom: 0.5rem !important;
}
.form-par .top-left:last-child {
  font-size: 14px !important;
}
@media (max-width: 767px) {
  .form-par .top-left:last-child {
    font-size: 12px !important;
  }
}
@media (max-width: 767px) {
  .form-par .top-left {
    font-size: 12px !important;
  }
}
.form-par .main-title {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .form-par .main-title {
    font-size: 14px;
  }
}
.form-par label {
  font-size: 12px !important;
}
.form-par select {
  height: 30px;
  border-color: #a3a3a3 !important;
}
@media (max-width: 767px) {
  .form-par .last {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .form-par .pohne {
    width: 98% !important;
  }
}
.form-par .pohne .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-par .pohne .enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-par .pohne .enter input {
  margin-left: 0.5rem;
}

.modil-edti-pic {
  width: 100%;
  height: 100%;
  z-index: 10000000;
}
.modil-edti-pic .content {
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F5F5;
  width: 50%;
  max-height: 95%;
  padding: 1.5rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.modil-edti-pic .content .title {
  border-bottom: #0D9642 2px solid;
}
@media (max-width: 767px) {
  .modil-edti-pic .content .title h5 {
    font-size: 0.5rem !important;
  }
}
.modil-edti-pic .content .title span {
  cursor: pointer;
  font-size: 1.5rem;
}
.modil-edti-pic .content button {
  width: 180px;
  height: 30px;
  background-color: #696969;
  border-color: #A3A3A3;
  color: white;
  display: block;
  margin: auto;
  font-size: 14px;
}
@media (max-width: 767px) {
  .modil-edti-pic .content button {
    width: 50%;
  }
}

.form {
  width: 95%;
  margin: 5% auto;
}
.form__container {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: silver;
  margin-bottom: 5px;
}
.form__container.active {
  background-color: rgba(192, 192, 192, 0.2);
}
.form__file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}
.form__files-container {
  display: block;
  width: 100%;
  font-size: 0;
  margin-top: 20px;
}
.form__image-container {
  display: inline-block;
  width: 49%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
}
.form__image-container.pic {
  width: 100%;
}
.form__image-container.pic::after {
  content: "";
}
.form__image-container:not(:nth-child(2n)) {
  margin-right: 2%;
}
.form__image-container:after {
  content: "✕";
  position: absolute;
  line-height: 200px;
  font-size: 30px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.form__image-container:hover:after {
  opacity: 1;
  cursor: pointer;
}
.form__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}