/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: HacenMaghrebBd;
  src: url(../font/HacenMaghrebBdRegular.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: HacenMaghrebBd;
}



.w-89 {
  width: 89%;
}

ul {
  list-style: none;
  padding: 0 !important;
}
.fs-14 {
  font-size: 14px !important;
}

.border-table {
  border-bottom: 1px solid #696969;
}

.border-table-top {
  border-top: 1px solid #696969;
}

.border-div {
  border: 1px solid #231F20;
}

.greay-color {
  color: #696969 !important;
}

.red-color {
  color: #bf202f !important;
}

.grean-color {
  color: #0D9642 !important;
}

.black-color {
  color: #231F20 !important;
}

.blue-color {
  color: #2d73b9 !important;
}

a {
  text-decoration: none !important;
  color: white;
}
a:hover {
  color: white;
}

.main-title {
  color: #0D9642;
  font-size: 16px;
  margin-bottom: 1rem;
}
.main-title.red {
  color: #bf202f;
}

label {
  font-size: 12px;
  color: #696969;
  display: block;
  margin-bottom: 0.5rem;
}
label.error {
  color: #bf202f;
}

.svg-input {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

input {
  border: #A3A3A3 0.5px solid;
  background-color: transparent;
  height: 30px;
  padding-right: 13%;
  outline: none;
  width: 100%;
  border-radius: 4px;
}
input::-webkit-input-placeholder {
  font-size: 14px;
  color: #231f20;
  text-transform: capitalize;
}
input::-moz-placeholder {
  font-size: 14px;
  color: #231f20;
  text-transform: capitalize;
}
input:-ms-input-placeholder {
  font-size: 14px;
  color: #231f20;
  text-transform: capitalize;
}
input::-ms-input-placeholder {
  font-size: 14px;
  color: #231f20;
  text-transform: capitalize;
}
input::placeholder {
  font-size: 14px;
  color: gray;
  text-transform: capitalize;
}
input[type=date] {
  color: gray;
}

select {
  border: #A3A3A3 0.5px solid;
  background-color: transparent;
  height: 30px;
  padding-right: 12%;
  outline: none;
  font-size: 14px;
  color: #231f20  ;
  text-transform: uppercase;
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 8px center;
}
select.grean-img {
  background-image: url(../imges/angle-grean.png);
}
select.red-img {
  background-image: url(../imges/angle-red.png);
}

.save {
  width: 209px;
  height: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  background-color: #696969;
  outline: none;
  border: none;
  border-radius: 4px;
}
.save.grean {
  background-color: #0D9642;
}
.save.red {
  background-color: #bf202f;
}
.save.mod {
  width: 150px;
}
.save.blue {
  background-color: #2d73b9;
}

.fs-12 {
  font-size: 12px;
}

nav {
  background-color: #f5f5f5;
}
nav .main-nav {
  /* height: 116px; */
}

nav .main-nav .content .links a span {
  color: #231f20  ;
}
@media (max-width: 767px) {
  nav .main-nav {
    /* height: 84px; */
  }
}
nav .main-nav a {
  color: #231f20 !important;
}
nav .main-nav .content {
  height: inherit;
  padding-bottom: 7px ;
}


@media (max-width : 767px) {
  .row {
    --bs-gutter-x: 0px !important;
  }

  nav .main-nav .content {
    padding-bottom: 0px ;
  }
}
nav .main-nav .content .logo {
  width: 40vw;
  border-bottom-left-radius: 50px;
  height: 94%;
}
@media (min-width : 768px) {
  nav .main-nav .content .logo img {
    max-height: 94%;
    margin-top: -4%;
  }
  
}
@media (max-width: 767px) {
  nav .main-nav .content .logo {
    width: 87vw;
    /* padding: 1rem; */
    border-bottom-left-radius: 45px;
  }

  nav .main-nav .content .links a span{
   font-size: 8px !important;
  }

  nav .main-nav .content .links ul {
    margin-bottom: 0px;
  }
}

@media (min-width : 768px) {
  nav .main-nav .content .links svg {
    margin-left: 0.5rem;
  }
}

.nav-item button {
  font-size: 18px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .nav-item button {
    font-size: 14px;

  }
}
.nav-item .nav-link {
  width: 100%;
  border: none !important;
  text-align: start;
  background-color: transparent !important;
  border-bottom: 2px #a3a3a3 solid !important;
  color: #a3a3a3 !important;
}
.nav-item .nav-link.active {
  color: #0D9642 !important;
  border-color: #0D9642 !important;
}

.data .container .content {
  background-color: #F5F5F5;
  border-top-right-radius: 120px;
}


@media (max-width: 767px) {
  .data .container .content {
    border-top-right-radius: 0px;
    background-color: white;
  }
}
.data .container .content .right {
  background-color: #231F20;
  opacity: 85%;
  background-image: url(../imges/logo2.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 340px;
  border-top-right-radius: 120px;
  transform: translate(20px, -20px);
  -webkit-transform: translate(20px, -20px);
  -moz-transform: translate(20px, -20px);
  -ms-transform: translate(20px, -20px);
  -o-transform: translate(20px, -20px);
  width: 35vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 460px;
}

@media (min-width : 768px) {
  .welcome p{
   margin-bottom: 12px !important;
  }
}
@media (max-width: 767px) {
  .data .container .content .right {
    width: 100%;
    min-height: auto;
    border-top-right-radius: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    background-size: 25%;
  }
  .data .container .content .right .name {
    background-color: #4D4A4B;
    border-bottom-right-radius: 38px;
  }
  .data .container .content .right .name .welcome {
    width: 100%;
  }



  .data .container .content .right .name .welcome p:not(.acount-name){
    font-size: 12px !important;
  }
  .data .container .content .right .name .welcome .acount-name{
    font-size: 14px !important;
  }
}
.data .container .content .right .imges {
  width: 66px;
  height: 66px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .data .container .content .right .imges {
    width: 44px;
    height: 44px;
  }
}
.data .container .content .right .acount-name {
  color: #0D9642;
  font-size: 18px;
}
.data .container .content .right .change-pic {
  width: 20px;
  height: 20px;
  background-color: #BF202F;
  right: -0.5rem;
  cursor: pointer;
}
.data .container .content .right .all-select {
  overflow-x: hidden;
  margin-top: 9%;
}
@media (max-width : 767px) {
  .data .container .content .right .all-select .select:last-of-type:not(.reg){
    display: none !important;
  }

  .data .container .content .right .all-select {
    padding: 0.6rem;
    margin-top: 1rem;
  }
}
.data .container .content .right .all-select .select .select-name {
  border-color: #696969 !important;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width : 768px) {
  .data .container .content .right .all-select .select .select-name svg {
    margin-left: 18.5px;
  }
}
.data .container .content .right .all-select .select .select-name a {
  color: #696969;
}
@media (max-width: 767px) {
  .data .container .content .right .all-select .select .select-name a {
    font-size: 14px;
    white-space: nowrap;
  }

  .data .container .content .right .all-select .select .select-name svg {
    margin-left: 12px;
  }
  .data .container .content .right .all-select .select .select-name {
    width: 90%;
  }
  #Profile_image {
    width: 20px !important;
    height: 26px !important;
  }
  
}
@media (max-width: 550px) {
  .data .container .content .right .all-select .select .select-name a {
    /* font-size: 12px !important; */
  }
}
.data .container .content .right .all-select .select .select-name.active {
  border-color: #0D9642 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.data .container .content .right .all-select .select .select-name.active a {
  color: white;
}
.data .container .content .right .all-select .select .angle {
  width: 30px;
}

@media (max-width : 767px) {
  .data .container .content .right .all-select .select .angle {
    display: none;
  }
}
.data .container .content .left {
  width: 70vw;
  padding-left: 3vw !important;
}
@media (max-width: 767px) {
  .data .container .content .left {
    width: 100%;
    margin-top: 15px !important;
    padding: 0.6rem !important;
  }
}
.data .container .content .left ul li {
  border-color: #A3A3A3 !important;
  color: #A3A3A3;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.data .container .content .left ul li.active {
  border-color: #0D9642 !important;
  color: #0D9642;
  font-weight: bold;
}
.data .container .content .left .row-2 .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data .container .content .left .row-2 .phone > div:first-of-type {
  width: 70%;
}
.data .container .content .left .row-2 .phone > div:last-of-type {
  width: 26%;
}
.data .container .content .left .row-3 .input {
  min-height: 70px;
  border: solid 0.5px #a3a3a3;
  cursor: pointer;
}
.data .container .content .left .row-3 .input img {
  z-index: 1;
}
.data .container .content .left .row-3 .input .overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.377);
}
.data .container .content .left .row-3 .content {
  z-index: 3;
}

.drag-area {
  border: 0.5px dashed #a3a3a3;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 180px;
  cursor: pointer;
  position: relative;
}
.drag-area.drag-area5 {
  min-height: 120px;
}

.drag-area.drag-area1 {
  width: 50%;
  margin: auto;
  height: 50% !important;
}

.drag-area.active {
  border: 0.5px solid #a3a3a3;
  border-radius: 5px;
}
.drag-area.active:hover .overlay {
  z-index: 111111111111;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.drag-area .icon {
  font-size: 100px;
  color: #696969;
}

.drag-area header {
  font-size: 14px;
  font-weight: 500;
  color: #696969;
}

.drag-area span {
  font-size: 14px;
  font-weight: 500;
  color: #696969;
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #696969;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 144;
}

.modal h6, .modal h5 {
  color: #0D9642;
}
.modal.error h6 {
  color: #bf202f;
}
.modal p {
  font-size: 14px;
}
.modal.error .modal-header {
  border-color: #bf202f;
}
.modal.error .modal-header .modal-title {
  color: #bf202f;
}
.modal .modal-header {
  border-color: #0D9642;
  border-width: 2px !important;
  padding: 1rem 1.5rem;
}
.modal .modal-header .modal-title {
  color: #0D9642;
}
.modal .modal-header.blue {
  border-color: #2d73b9;
}
.modal .modal-header.blue .modal-title {
  color: #2d73b9;
}
.modal .modal-content {
  border-top-left-radius: 50px;
  border-color: transparent;
}
.modal .modal-footer {
  border-top: transparent;
}
.modal ul {
  font-size: 14px;
  color: #231f20;
}
.modal ul.reson li {
  list-style: inside;
}
.modal td {
  font-size: 16px;
  border: none;
}
td, th {
  border: none;
}

.acounts .title {
  border-bottom: 2px solid #a3a3a3;
  color: #231f20 !important;
}
.acounts .datels {
  cursor: pointer;
}
.acounts table * {
  white-space: nowrap;
}
.acounts table thead th {
  color: #696969;
  font-size: 12px !important;
}
.acounts table tr {
  border-bottom: #a3a3a3 1px solid !important;
}
.acounts table tbody td {
  font-size: 14px;
  color: #231f20;
}
.acounts table tbody td svg {
  margin: 0 0.2rem;
}
.acounts table tbody td button {
  font-size: 14px;
}
.acounts table tbody td p {
  margin-bottom: 0;
}
.acounts .cost p {
  font-size: 14px;
  color: #231f20;
}
.acounts .cost p:last-of-type {
  color: #0D9642;
}

.conform {
  font-size: 14px;
  color: #696969;
}

.forget-pass {
  cursor: pointer;
}

.main-title {
  font-size: 16px;
  margin-top: 4.3%;
  margin-bottom: 1.8%;
}
@media (max-width: 767px) {
  .main-title {
    font-size: 14px;
  }
}



.data .container .content .left ul li {
  cursor: auto;
}
.data .container .content .left ul li button {
  cursor: auto;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

table thead th {
  color: #696969;
  font-size: 12px !important;
}
table tr {
  border-bottom: #a3a3a3 1px solid !important;
}
table tr.none {
  border-bottom: transparent 1px solid !important;
}
table tbody td {
  font-size: 14px;
  color: #231f20;
  white-space: nowrap;
}
table tbody td svg {
  margin: 0 0.2rem;
}
table tbody td button {
  font-size: 14px;
}
table tbody td p {
  margin-bottom: 0;
}

.edit-acount:hover {
  color: white;
}

.info-team {
  list-style: decimal;
}
.info-team li {
  cursor: auto !important;
}

table * {
  white-space: nowrap;
}
table td {
  border: none;
}

.icon-action {
  cursor: pointer;
}

.oneTeam {
  border: 1px solid #a3a3a3;
  border-radius: 4px;
}

@media (max-width : 767px) {
  .modil-salary {
    width: 100% !important;
  }
}

@media (min-width : 768px) {
  .search {
    padding-right: 8% !important;
    }
}
